<div id="details_template">
    <div id="header">
        <button ng-click='back()' id="back_search_result" class="left_btn btn">
            Back
        </button>
        <h1 id="screen_title">Property Details</h1>
        <button ng-click="toggleFave()" ng-class="currentAp.isFave ? 'is_fave' : 'is_not_fave'"  class="right_btn ">
            &#9733;
        </button>
    </div>
    <div id="content">
        <div id="details">
            <h1> {{currentAp.price_formatted}} </h1>
            <h2> {{currentAp.title}} </h2>
            <img ng-src='{{currentAp.img_url}}'>
            <h4> {{currentAp.bedroom_number}} beds,  {{currentAp.bathroom_number}} bathrooms</h4>
            <h4> {{currentAp.summary }}</h4>
        </div>
    </div>
</div>