body{
	height: 800px;
}
body > div{
	display: flex;
	margin: 0 auto;
	width: 330px;
	height: 350px;
	flex-wrap: wrap;
}
div > div{
	border: 1px solid black;
	height: 100px;
	width: 100px;
	text-align: center;
	font-size: 45px;
	display: inline-block;
	margin-left: 5px;
	line-height: 100px;
}