<div>
    <div class="header">
        <button ng-click="backHome()" class="left_btn btn">
            Back
        </button>
        <h1>Favourites</h1>
    </div>
    <div class="content">
        <ul class="result">
            <div>
                <li ng-repeat="apartment in faveAparts" ng-click="$ctrl.showDetails($event)" id="{{apartment.lister_url}}" class="apart_fave">
                    <img ng-src="{{apartment.img_url}}"/>
                    <h1>{{apartment.price_formatted}}</h1>
                    <div><NOBR>{{apartment.title}}</NOBR></div>
                </li>
            </div>
        </ul>
    </div>
</div>

