<div id="favourites_list_template">
    <div id="header">
        <button ng-click="backHome()" id="back_from_faves" class="left_btn btn">
            Back
        </button>
        <h1 id="screen_title">Favourites</h1>
    </div>
    <div id="content">
        <ul id="result">
            <div id="faves_list_template">
                <li ng-repeat="apartment in faveAparts" ng-click="showDetails($event)" id="{{apartment.$$hashKey}}" class="apart_fave">
                    <img ng-src="{{apartment.img_url}}"/>
                    <h1>{{apartment.price_formatted}}</h1>
                    <div><NOBR>{{apartment.title}}</NOBR></div>
                </li>
            </div>
        </ul>
    </div>
</div>

